* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HERO SECTION */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXT OVER IMAGE */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.65);
    color: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* ANIME SECTION */
.anime-section {
    background: #111;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);
}

/* INFO SECTION */
.info {
    display: none;
    padding: 60px 20px;
    background: #f4f4f4;
    text-align: center;
}

.info:target {
    display: block;
}
