/* .itme{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: inline-block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    padding: 20px;
    color: black;
}
.product{
  background: rgb(118, 118, 107);  
  border: 1px solid gray;
  padding: 15px;
  text-align: center;
}
.child.product{display: inline-block;

}
.product:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px 
}
.product img{
    /* width: 100%; */
    height: 200px;
    /* object-fit: cover;
    border-radius: 8px;
}
.product h3{
    margin: 15px 0 10px;
    font-size: 20px;
    color: black;
}
.price{
    font-size: 15px;
    color: rgb(0, 0, 0) ;
    font-weight: bold;
    margin: 10px 0;
}
.btn{
     */
} */